<div class="container">
	<div class="row mb-4">
		<h1 class="text-center">Services en ligne</h1>
	</div>
	<form class="row g-3 mb-4">
		<div class="col-auto">
			<label for="inputPassword2" class="visually-hidden">Password</label>
			<input type="text" class="form-control" id="inputPassword2" placeholder="Nom du Service">
		</div>
		<div class="col-auto">
			<button type="submit" class="btn btn-primary mb-3">Rechercher</button>
		</div>
	</form>
	<div class="row">
		<div class="card m-2" style="width: 18rem;">
			<img src="https://dummyimage.com/640x360/333/aaa" class="card-img-top" alt="Image Random">
			<div class="card-body">
				<h5 class="card-title">Nom du service</h5>
				<p class="card-text">Brève description du service histoire de savoir à quoi qu'il sert.</p>
				<a href="#" class="btn btn-primary">VOIR</a>
			</div>
		</div>
		<div class="card m-2" style="width: 18rem;">
			<img src="https://dummyimage.com/640x360/333/aaa" class="card-img-top" alt="Image Random">
			<div class="card-body">
				<h5 class="card-title">Nom du service</h5>
				<p class="card-text">Brève description du service histoire de savoir à quoi qu'il sert.</p>
				<a href="#" class="btn btn-primary">VOIR</a>
			</div>
		</div>
		<div class="card m-2" style="width: 18rem;">
			<img src="https://dummyimage.com/640x360/333/aaa" class="card-img-top" alt="Image Random">
			<div class="card-body">
				<h5 class="card-title">Nom du service</h5>
				<p class="card-text">Brève description du service histoire de savoir à quoi qu'il sert.</p>
				<a href="#" class="btn btn-primary">VOIR</a>
			</div>
		</div>
		<div class="card m-2" style="width: 18rem;">
			<img src="https://dummyimage.com/640x360/333/aaa" class="card-img-top" alt="Image Random">
			<div class="card-body">
				<h5 class="card-title">Nom du service</h5>
				<p class="card-text">Brève description du service histoire de savoir à quoi qu'il sert.</p>
				<a href="#" class="btn btn-primary">VOIR</a>
			</div>
		</div>
		<div class="card m-2" style="width: 18rem;">
			<img src="https://dummyimage.com/640x360/333/aaa" class="card-img-top" alt="Image Random">
			<div class="card-body">
				<h5 class="card-title">Nom du service</h5>
				<p class="card-text">Brève description du service histoire de savoir à quoi qu'il sert.</p>
				<a href="#" class="btn btn-primary">VOIR</a>
			</div>
		</div>
		<div class="card m-2" style="width: 18rem;">
			<img src="https://dummyimage.com/640x360/333/aaa" class="card-img-top" alt="Image Random">
			<div class="card-body">
				<h5 class="card-title">Nom du service</h5>
				<p class="card-text">Brève description du service histoire de savoir à quoi qu'il sert.</p>
				<a href="#" class="btn btn-primary">VOIR</a>
			</div>
		</div>
		<div class="card m-2" style="width: 18rem;">
			<img src="https://dummyimage.com/640x360/333/aaa" class="card-img-top" alt="Image Random">
			<div class="card-body">
				<h5 class="card-title">Nom du service</h5>
				<p class="card-text">Brève description du service histoire de savoir à quoi qu'il sert.</p>
				<a href="#" class="btn btn-primary">VOIR</a>
			</div>
		</div>
		<div class="card m-2" style="width: 18rem;">
			<img src="https://dummyimage.com/640x360/333/aaa" class="card-img-top" alt="Image Random">
			<div class="card-body">
				<h5 class="card-title">Nom du service</h5>
				<p class="card-text">Brève description du service histoire de savoir à quoi qu'il sert.</p>
				<a href="#" class="btn btn-primary">VOIR</a>
			</div>
		</div>
		<div class="card m-2" style="width: 18rem;">
			<img src="https://dummyimage.com/640x360/333/aaa" class="card-img-top" alt="Image Random">
			<div class="card-body">
				<h5 class="card-title">Nom du service</h5>
				<p class="card-text">Brève description du service histoire de savoir à quoi qu'il sert.</p>
				<a href="#" class="btn btn-primary">VOIR</a>
			</div>
		</div>
		<div class="card m-2" style="width: 18rem;">
			<img src="https://dummyimage.com/640x360/333/aaa" class="card-img-top" alt="Image Random">
			<div class="card-body">
				<h5 class="card-title">Nom du service</h5>
				<p class="card-text">Brève description du service histoire de savoir à quoi qu'il sert.</p>
				<a href="#" class="btn btn-primary">VOIR</a>
			</div>
		</div>
		<div class="card m-2" style="width: 18rem;">
			<img src="https://dummyimage.com/640x360/333/aaa" class="card-img-top" alt="Image Random">
			<div class="card-body">
				<h5 class="card-title">Nom du service</h5>
				<p class="card-text">Brève description du service histoire de savoir à quoi qu'il sert.</p>
				<a href="#" class="btn btn-primary">VOIR</a>
			</div>
		</div>
		<div class="card m-2" style="width: 18rem;">
			<img src="https://dummyimage.com/640x360/333/aaa" class="card-img-top" alt="Image Random">
			<div class="card-body">
				<h5 class="card-title">Nom du service</h5>
				<p class="card-text">Brève description du service histoire de savoir à quoi qu'il sert.</p>
				<a href="#" class="btn btn-primary">VOIR</a>
			</div>
		</div>
		<div class="card m-2" style="width: 18rem;">
			<img src="https://dummyimage.com/640x360/333/aaa" class="card-img-top" alt="Image Random">
			<div class="card-body">
				<h5 class="card-title">Nom du service</h5>
				<p class="card-text">Brève description du service histoire de savoir à quoi qu'il sert.</p>
				<a href="#" class="btn btn-primary">VOIR</a>
			</div>
		</div>
		<div class="card m-2" style="width: 18rem;">
			<img src="https://dummyimage.com/640x360/333/aaa" class="card-img-top" alt="Image Random">
			<div class="card-body">
				<h5 class="card-title">Nom du service</h5>
				<p class="card-text">Brève description du service histoire de savoir à quoi qu'il sert.</p>
				<a href="#" class="btn btn-primary">VOIR</a>
			</div>
		</div>
		<div class="card m-2" style="width: 18rem;">
			<img src="https://dummyimage.com/640x360/333/aaa" class="card-img-top" alt="Image Random">
			<div class="card-body">
				<h5 class="card-title">Nom du service</h5>
				<p class="card-text">Brève description du service histoire de savoir à quoi qu'il sert.</p>
				<a href="#" class="btn btn-primary">VOIR</a>
			</div>
		</div>
		<div class="card m-2" style="width: 18rem;">
			<img src="https://dummyimage.com/640x360/333/aaa" class="card-img-top" alt="Image Random">
			<div class="card-body">
				<h5 class="card-title">Nom du service</h5>
				<p class="card-text">Brève description du service histoire de savoir à quoi qu'il sert.</p>
				<a href="#" class="btn btn-primary">VOIR</a>
			</div>
		</div>
	</div>
</div>
