<section class="container">
    <h2>Gardes et Astreintes</h2>
    {# La section Chic contient 2 parties #}
    <div class="row chic d-flex justify-content-between pt-5">
        <div class="col-12 evenements">
            {# Cartes le Chic #}
            <div class="row d-flex justify-content-center">
                <div class="carte-chic">     
                    <div class="contenuAstreintes">
                        <h4>Anesthésiste</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Dr ...</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Coordonnées</h4>
                    </div>
                </div>
                <div class="carte-chic">     
                    <div class="contenuAstreintes">
                        <h4>Cardiologue</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Dr ...</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Coordonnées</h4>
                    </div>
                </div>
                <div class="carte-chic">     
                    <div class="contenuAstreintes">
                        <h4>Coronarographie</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Dr ...</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Coordonnées</h4>
                    </div>
                </div>
                <div class="carte-chic">     
                    <div class="contenuAstreintes">
                        <h4>CHIR Ortho et Traumato</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Dr ...</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Coordonnées</h4>
                    </div>
                </div>
                <div class="carte-chic">     
                    <div class="contenuAstreintes">
                        <h4>CHIR Digestif / Viscerale</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Dr ...</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Coordonnées</h4>
                    </div>
                </div>
                <div class="carte-chic">     
                    <div class="contenuAstreintes">
                        <h4>Gynécologue</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Dr ...</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Coordonnées</h4>
                    </div>
                </div>
                <div class="carte-chic">     
                    <div class="contenuAstreintes">
                        <h4>Néphrologue</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Dr ...</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Coordonnées</h4>
                    </div>
                </div>
                <div class="carte-chic">     
                    <div class="contenuAstreintes">
                        <h4>Hépato Gastro</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Dr ...</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Coordonnées</h4>
                    </div>
                </div>
                <div class="carte-chic">     
                    <div class="contenuAstreintes">
                        <h4>IRM / Radio</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Dr ...</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Coordonnées</h4>
                    </div>
                </div>
                <div class="carte-chic">     
                    <div class="contenuAstreintes">
                        <h4>Laboratoire</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Dr ...</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Coordonnées</h4>
                    </div>
                </div>
                <div class="carte-chic">     
                    <div class="contenuAstreintes">
                        <h4>O.P.H</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Dr ...</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Coordonnées</h4>
                    </div>
                </div>
                <div class="carte-chic">     
                    <div class="contenuAstreintes">
                        <h4>O.R.L</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Dr ...</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Coordonnées</h4>
                    </div>
                </div>
                <div class="carte-chic">     
                    <div class="contenuAstreintes">
                        <h4>Traumato de la face</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Dr ...</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Coordonnées</h4>
                    </div>
                </div>
                <div class="carte-chic">     
                    <div class="contenuAstreintes">
                        <h4>CHIR plast / esthétique</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Dr ...</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Coordonnées</h4>
                    </div>
                </div>
                <div class="carte-chic">     
                    <div class="contenuAstreintes">
                        <h4>Pédiatrie</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Dr ...</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Coordonnées</h4>
                    </div>
                </div>
                <div class="carte-chic">     
                    <div class="contenuAstreintes">
                        <h4>Pharmacie</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Dr ...</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Coordonnées</h4>
                    </div>
                </div>
                <div class="carte-chic">     
                    <div class="contenuAstreintes">
                        <h4>Pneumo</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Dr ...</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Coordonnées</h4>
                    </div>
                </div>
                <div class="carte-chic">     
                    <div class="contenuAstreintes">
                        <h4>Réa</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Dr ...</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Coordonnées</h4>
                    </div>
                </div>
                <div class="carte-chic">     
                    <div class="contenuAstreintes">
                        <h4>Neurologue / UNV</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Dr ...</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Coordonnées</h4>
                    </div>
                </div>
                <div class="carte-chic">     
                    <div class="contenuAstreintes">
                        <h4>Urologue</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Dr ...</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Coordonnées</h4>
                    </div>
                </div>
                <div class="carte-chic">     
                    <div class="contenuAstreintes">
                        <h4>Médecin Accueil Urgences Quimper</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Dr ...</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Coordonnées</h4>
                    </div>
                </div>
                <div class="carte-chic">     
                    <div class="contenuAstreintes">
                        <h4>Médecin SMUR Quimper</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Dr ...</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Coordonnées</h4>
                    </div>
                </div>
                <div class="carte-chic">     
                    <div class="contenuAstreintes">
                        <h4>Médecin SMUR CC</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Dr ...</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Coordonnées</h4>
                    </div>
                </div>
                <div class="carte-chic">     
                    <div class="contenuAstreintes">
                        <h4>UCJ</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Dr ...</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Coordonnées</h4>
                    </div>
                </div>
                <div class="carte-chic">     
                    <div class="contenuAstreintes">
                        <h4>Infectiologue Covid</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Dr ...</h4>
                    </div>
                    <div class="contenuAstreintes">
                        <h4>Coordonnées</h4>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

<style>
.titre {
    margin-bottom: 40px;
}

h2, h3, h4 {
    text-align: center;
}

.carte-chic {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px #000;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4px;
}


.carreActu {
    border: 1px solid #000;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenuAstreintes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
</style>

