<section class="container">
    <h2>Le Chic</h2>
    {# La section Chic contient 2 parties #}
    <div class="row chic d-flex justify-content-between pt-5">
        <div class="col-6 evenements">
            {# Cartes le Chic #}
            <div class="row d-flex justify-content-center">
                <h3>Titre</h3>
                <div class="carte-chic">     
                    <div class="contenu">
                        <p>Lorem ipsum dolor sit amet. Rem illum exercitationem et quia ipsam sed corporis debitis a asperiores nulla vel quia perferendis et laudantium aperiam et nisi debitis. Est asperiores nulla eos aperiam sapiente sapiente commodi est totam velit ad dolorum libero et consectetur aperiam.</p>
                        <a href="#" class="btn btn-secondary m-auto">Plus d'infos</a>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <h3>Titre</h3>
                <div class="carte-chic">
                    <div class="contenu">
                        <p>Lorem ipsum dolor sit amet. Rem illum exercitationem et quia ipsam sed corporis debitis a asperiores nulla vel quia perferendis et laudantium aperiam et nisi debitis. Est asperiores nulla eos aperiam sapiente sapiente commodi est totam velit ad dolorum libero et consectetur aperiam.</p>
                        <a href="#" class="btn btn-secondary m-auto">Plus d'infos</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 evenements">

            <div class="row d-flex justify-content-center">
                <h3>Titre</h3>
                <div class="carte-chic">
                    <div class="contenu">
                        <p>Lorem ipsum dolor sit amet. Rem illum exercitationem et quia ipsam sed corporis debitis a asperiores nulla vel quia perferendis et laudantium aperiam et nisi debitis. Est asperiores nulla eos aperiam sapiente sapiente commodi est totam velit ad dolorum libero et consectetur aperiam.</p>
                        <a href="#" class="btn btn-secondary m-auto">Plus d'infos</a>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <h3>Titre</h3>
                <div class="carte-chic">              
                    <div class="contenu">
                        <p>Lorem ipsum dolor sit amet. Rem illum exercitationem et quia ipsam sed corporis debitis a asperiores nulla vel quia perferendis et laudantium aperiam et nisi debitis. Est asperiores nulla eos aperiam sapiente sapiente commodi est totam velit ad dolorum libero et consectetur aperiam.</p>
                        <a href="#" class="btn btn-secondary m-auto">Plus d'infos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
.chic {
    border: 2px solid #ddd;
}
.titre {
    margin-bottom: 40px;
}

h2, h3 {
    text-align: center;
}

.carte-chic {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px #000;
    padding: 5px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}


.carreActu {
    border: 1px solid #000;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
</style>

