<section class="container">
    {# La section actus contient 2 parties #}
    <div class="row actus d-flex justify-content-between pt-5">
        <div class="col-5 evenements">
            {# Titre et bouton #}
            <div class="row titre d-flex justify-content-between">
                <h2 style=";width:40%;">Événements</h2>
                <a href="#" class="btn btn-primary" style="width:40%;">Voir tout</a>
            </div>
            {# Cartes événements #}
            <div class="row d-flex justify-content-center">
                <div class="carte-evenement">
                    <div class="date">
                        <div class="carre">
                            <p>Date</p>
                        </div>
                    </div>
                    <div class="contenu">
                        <h3>Nom de l'événement</h3>
                        <p>Description de l'événement</p>
                    </div>
                </div>
            </div>
            {# Cartes événements #}
            <div class="row d-flex justify-content-center">
                <div class="carte-evenement">
                    <div class="date">
                        <div class="carre">
                            <p>Date</p>
                        </div>
                    </div>
                    <div class="contenu">
                        <h3>Nom de l'événement</h3>
                        <p>Description de l'événement</p>
                    </div>
                </div>
            </div>
            {# Cartes événements #}
            <div class="row d-flex justify-content-center">
                <div class="carte-evenement">
                    <div class="date">
                        <div class="carre">
                            <p>Date</p>
                        </div>
                    </div>
                    <div class="contenu">
                        <h3>Nom de l'événement</h3>
                        <p>Description de l'événement</p>
                    </div>
                </div>
            </div>
            {# Cartes événements #}
            <div class="row d-flex justify-content-center">
                <div class="carte-evenement">
                    <div class="date">
                        <div class="carre">
                            <p>Date</p>
                        </div>
                    </div>
                    <div class="contenu">
                        <h3>Nom de l'événement</h3>
                        <p>Description de l'événement</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 actualites">
            {# Titre et bouton #}
            <div class="row titre d-flex justify-content-between">
                <h2 style=";width:40%;">Actualités</h2>
                <a href="#" class="btn btn-primary" style="width:40%;">Voir tout</a>
            </div>
            {# Cartes actualités #}
            <div class="row d-flex justify-content-center">
                <div class="carte-evenement carte-actualite">
                    <div class="date">
                        <div class="carreActu">
                            <p>Image</p>
                        </div>
                    </div>
                    <div class="contenu">
                        <h3>Nom de l'actualité</h3>
                        <p>Description de l'actualité</p>
                    </div>
                </div>
            </div>
            {# Cartes actualités #}
            <div class="row d-flex justify-content-center">
                <div class="carte-evenement carte-actualite">
                    <div class="date">
                        <div class="carreActu">
                            <p>Image</p>
                        </div>
                    </div>
                    <div class="contenu">
                        <h3>Nom de l'actualité</h3>
                        <p>Description de l'actualité</p>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="carte-evenement carte-actualite">
                    <div class="date">
                        <div class="carreActu">
                            <p>Image</p>
                        </div>
                    </div>
                    <div class="contenu">
                        <h3>Nom de l'actualité</h3>
                        <p>Description de l'actualité</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
.titre {
    margin-bottom: 40px;
}

.carte-evenement {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px #000;
    padding: 5px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.carte-actualite {
    width: 100%;
}

.carre {
    border: 1px solid #ccc;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carreActu {
    border: 1px solid #ccc;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
</style>